@import './../../common/normalize';
@import './../../common/variables';

.buttons {
    grid-area: buttons;
    background-color: #eee;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 100px);
    gap: 16px;
    padding: $padding;
}