@import './../../common/normalize';
@import './../../common/variables';

.keyboard {
    padding: $padding / 4;
    border: #eee 1px solid;
    // background: #ddd;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 132px auto;
    row-gap: 0px;
    grid-template-areas: "numfield" "buttons";
}