@import './../../common/normalize';
@import './../../common/variables';

.numfield {
    grid-area: numfield;
    background-color: #eee;
    border-bottom: #fff 1px solid;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: $padding;
    font-size: 40px;
    font-family: $font-family;
}